@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


body {
    background: black;
    font-family: 'Gruppo';
    color: white;
}


#main {
    width: 100vw;
    height: 90vh;
    margin-top: 5em;
    display: flex;
}

#main-nav {
    margin: 21vh auto;
    padding: 13px;
    width: 144px;
    height: 9em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.main-nav-link {
    cursor: pointer;
    text-align: center;
    margin: 0.25em auto;
    font-size: 2em;
    opacity: 0%;
}

#projects-div {
    margin: auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-div {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    margin: 1.5em;
    transition: all 200ms ease-in-out;
    &:hover {
        transform: scale(1.3);
    }
    &:hover .project-banner {
        opacity: 1;
    }
    &:hover img {
        opacity: 0.3;
    }
    & > a {
        width: 100%;
        height: 100%;
        & > img {
            transition: opacity 200ms ease;
            width: 110%;
            height: 110%;
        }
    }
}
.project-banner {
    opacity: 0;
    transition: opacity 200ms ease;
    position: absolute;
    text-align: center;
    &.quoridor {
        top: 45%;
        left: 33%;
    }
    &.maze {
        top: 45%;
        left: 20%;
    }
    &.moonless {
        top: 40%;
        left: 25%;
    }
    &.fingram {
        top: 40%;
        left: 30%;
    }

}
.project-banner-text {
    background: white;
    color: black;
    font-size: 1.1em;
    padding: 1em;
}

#portrait-div {
    width: 100vw;
    height: 100vh;
}

#portrait {
    margin: auto;
    position: relative;
    padding-left: 16em;
    bottom: 10em;
    opacity: 79%;
    min-height: 1037px;
    transition: transform 3000ms linear, opacity 3000ms linear;
}

#nav {
    position: fixed;
    display: flex;
    width: 100vw;
    top: 1.8em;
    font-size: 1em;
    justify-content: space-between;
}
.nav-heading {
    font-size: 1em;
    padding-left: 2.4em;
}
#nav-links-div {
    display: flex;
    margin-right: 4em;
    justify-content: space-between;
}
a.nav-link{
    padding-top: 0.5em;
    margin: 0 0.6em;
    min-width: 32px;
    min-height: 32px;
}
.nav-link-icon {
    cursor: pointer;
    opacity: 0%;
    max-width: 4px;
    max-height: 4px;
    
    &.show-icon {
        transition: all 200ms ease-in-out;
        min-width: 32px;
        min-height: 32px;
        &:hover {
            transform: scale(1.3);
        }
    }
}
#page-nav {
    display: flex;
}
.page-link {
    cursor: pointer;
    margin: auto 1em 0 1em;
}

.land-heading {
    position: fixed;
    font-size: 40px;
    top: 10em;
    left: 50px;
    transition: top 1000ms, left 1000ms, font-size 1000ms;
}
.land-heading-transition {
    top: 2em;
    left: -5em;
    font-size: 1em;
}

/* about page */
#about-div {
    margin: 3em auto;
    width: 71%;
    max-width: 769px;
    font-size: 1.3em;
    line-height: 1.3em;
}

/* contact page */
#contact-form-div {
    margin: 6em auto;
    font-size: 1.3em;
    line-height: 1.3em;
}






