@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


body {
    background: black;
    font-family: 'Gruppo';
    color: white;
}

#portrait-div {
    width: 100vw;
    height: 100vh;
}

#portrait {
    margin: auto;
    position: relative;
    padding-left: 16em;
    bottom: 0;
    opacity: 55%;
    min-height: 1037px;
    transition: transform 3000ms linear, opacity 3000ms linear;
}

#nav {
    position: fixed;
    display: flex;
    width: 100vw;
    top: 1.8em;
    font-size: 1em;
}
.nav-heading {
    font-size: 1em;
    padding-left: 2.4em;
}

.land-heading {
    position: fixed;
    font-size: 40px;
    top: 10em;
    left: 50px;
    transition: top 1000ms, left 1000ms, font-size 1000ms;
}
.land-heading-transition {
    top: 2em;
    left: -5em;
    font-size: 1em;
}






